@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #BE3A8E;
  --primary-dark: #9C2D73;
}

body {
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.gradient-text {
  @apply bg-clip-text text-transparent bg-gradient-to-r from-[#BE3A8E] to-[#9C2D73];
}